# clojure / lein

pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/lib
/classes/
/classes
/target/
/target
/checkouts/
/checkouts
profiles.clj
/profiles.clj
/.lein-*
.lein-*
/.nrepl-port
.nrepl-port
.cpcache
.cpcache/
/.cpcache
/.cpcache/
.lein-deps-sum
/.lein-deps-sum
.lein-repl-history
/.lein-repl-history
.lein-plugins/
/.lein-plugins/
.lein-failures
/.lein-failures
.hg/

